
@using WebTraFashion.Models
@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using System.Configuration
@model IEnumerable<ClassAll>
<div id="container">
    <div class="container">
        <div class="row">
            <div id="content" class="col-sm-12">
                <div id="tm-newsletter-popup" class="newsletter-popup-wrap">
                    <div class="newsletter-popup" style="background-image: url(~/img/newsletter-popup-732x515.jpg)">
                        <div class="box-content">

                            <h3 class="mod1">Bản Tin</h3>
                            <p>
                                Đăng ký Email để nhận tin tức mới về sản phẩm
                            </p>
                            <form method="post" enctype="multipart/form-data" id="tm-newsletter-popup-form">
                                <div class="tm-login-form">
                                    <label class="control-label" for="input-tm-newsletter-popup-email"></label>
                                    <input type="text" name="tm_newsletter_popup_email" value="" placeholder="Enter your e-mail" id="input-tm-newsletter-popup-email" class="form-control" />
                                    <button type="submit" id="tm-newsletter-popup-button" class="newsletter-popup-btn"><i class="material-design-drafts"></i>Đăng ký</button>
                                    <span id="tm-newsletter-popup_error" class="newsletter-error"></span>
                                    <span id="tm-newsletter-popup_success" class="newsletter-success"></span>
                                </div>
                            </form>
                        </div>
                        <a href="#" id="newsletter-popup-close-btn" class="newsletter-popup-close-btn fa fa-times"></a>
                        <a href='#' id="newsletter-popup-dont-show" class="newsletter-popup-dont-show">
                            Don't show this message again
                        </a>
                    </div>
                </div>

                <div id="banner0" class="banners">
                    <div class="fleft	banner-1">
                        <div class="banner-box">
                            <a class="clearfix" href="@Url.Action("ListProducts","Default",new { id= ("sale").UrlFrendly() + "-" + 5 })">
                                <img src="~/img/banner-1-780x390.jpg" alt="banner-1" class="img-responsive" />
                                <div class="s-desc"><h2>Sale <span>get up to </span> <em>20% off</em></h2></div>
                            </a>
                        </div>
                    </div>
                    <div class="fleft	banner-2">
                        <div class="banner-box">
                            <a class="clearfix" href="@Url.Action("ListProducts","Default",new { id=("Phụ kiện").UrlFrendly()+"-"+4})">
                                <img src="~/img/banner-2-780x390.jpg" alt="banner-2" class="img-responsive" />
                                <div class="s-desc">
                                    <h2 class="mod1">CHẤT LƯỢNG TUYỆT VỜI</h2>
                                    <p>Chúng tôi là chuyên nghiệp, giàu kinh nghiệm và tận tâm với sự hài lòng của bạn.</p>
                                    <span class="button">Shop now!</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="fleft	banner-3">
                        <div class="banner-box">
                            <a class="clearfix" href="@Url.Action("ListProducts","Default",new { id=("Vali").UrlFrendly()+"-"+3})">
                                <img src="~/img/banner-3-780x390.jpg" alt="banner-3" class="img-responsive" />
                                <div class="s-desc"><h2 class="mod2">new <span>arrivals</span></h2></div>
                            </a>
                        </div>
                    </div>
                    <div class="fleft	banner-4">
                        <div class="banner-box">
                            <a class="clearfix" href="@Url.Action("ListProducts","Default",new { id=("Ví").UrlFrendly()+"-"+1})">
                                <img src="~/img/banner-4-780x390.jpg" alt="banner-4" class="img-responsive" />
                                <div class="s-desc">
                                    <h2 class="mod1">GIÁ CẢ HỢP LÝ</h2>
                                    <p>
                                        Chúng tôi cam kết chất lượng cao nhất
                                    </p>
                                    <span class="button">Shop now!</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="box latest">
                    <div class="box-heading">
                        <h3 style="max-width:205px!important;">Sản phẩm mới</h3>
                        <span>
                            NHIỀU NHÃN HIỆU THỜI TRANG CỦA THẾ GIỚI ĐANG ĐỢI BẠN, BẠN CÒN CHỜ GÌ NỮA?
                            HÃY NHANH NHANH CHỌN CHO MÌNH MỘT SẢN PHẨM ƯNG Ý ĐI NÀO!

                        </span>
                    </div>
                    <div class="box-content">
                        <div class="box-carousel">

                            @foreach (var item in Model)
                            {
                                <div class="product-thumb transition options">

                                   
                                    <div class="quick_info hidden-xs">
                                        <div id="quickview_latest_@item.tblProdu.id_products_tra" class="quickview-style">
                                            <div>
                                                <div class="left col-sm-4">
                                                    <div class="quickview_image image">
                                                        <a href="@Url.Action("Detail","Default",new { id=item.tblProdu.name_products_tra.UrlFrendly() + "-" + item.tblProdu.id_products_tra })">
                                                         
                                                            <img alt="@item.tblProdu.name_products_tra" title="@item.tblProdu.name_products_tra" class="img-responsive" src="@ConfigurationManager.AppSettings["domain"]@item.tblPicture.originalFilepath.ToString().Split('_')[0]/@item.tblPicture.originalFilepath" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="right col-sm-8">
                                                    <h2>@item.tblProdu.name_products_tra</h2>
                                                    <div class="inf">
                                                        <p class="product_model model">Model: @item.tblProdu.code_products_tra</p>
                                                        <span class="price-new">@item.tblProdu.newprice_products_tra</span>
                                                        <span class="price-old">@item.tblProdu.oldprice_products_tra</span>
                                                    </div>
                                                    <div class="rating">
                                                        <span class="fa-stack">
                                                            <i class="material-icons-star   fa-stack-1x"></i>
                                                            <i class="material-icons-star star  fa-stack-1x"></i>
                                                        </span>
                                                        <span class="fa-stack">
                                                            <i class="material-icons-star   fa-stack-1x"></i>
                                                            <i class="material-icons-star star  fa-stack-1x"></i>
                                                        </span>
                                                        <span class="fa-stack">
                                                            <i class="material-icons-star   fa-stack-1x"></i>
                                                            <i class="material-icons-star star  fa-stack-1x"></i>
                                                        </span>
                                                        <span class="fa-stack">
                                                            <i class="material-icons-star   fa-stack-1x"></i>
                                                            <i class="material-icons-star star  fa-stack-1x"></i>
                                                        </span>
                                                        <span class="fa-stack">
                                                            <i class="material-icons-star   fa-stack-1x"></i>
                                                            <i class="material-icons-star star  fa-stack-1x"></i>
                                                        </span>
                                                    </div>
                                                    <button class="product-btn-add" data-toggle="tooltip" title="Mua hàng" type="button">
                                                        <i class="mat-icons material-icons-shopping_basket"></i>
                                                        <span>Mua hàng</span>
                                                    </button>
                                                    <button class="product-btn-add" data-toggle="tooltip" title="Mua hàng" type="button">
                                                        <i class="mat-icons material-icons-shopping_basket"></i>
                                                        <span class="hidden-xs hidden-sm hidden-md">Đặt hàng</span>
                                                    </button>
                                                    <ul class="product-buttons">
                                                        <li>
                                                            <button class="btn btn-icon" type="button" data-toggle="tooltip" title="Add to Wish List">
                                                                <i class="mat-icons material-icons-favorite_border"></i>
                                                                <span>Add to Wish List</span>
                                                            </button>
                                                        </li>
                                                        <li>
                                                            <button class="btn btn-icon" type="button" data-toggle="tooltip" title="Compare this Product">
                                                                <i class="mat-icons material-icons-sort"></i>
                                                                <span>Compare this Product</span>
                                                            </button>
                                                        </li>
                                                    </ul>
                                                    <div class="clear"></div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="quickview_description description">
                                                        <p style="white-space:pre-line;">
                                                            @item.tblProdu.des_products_tra
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="new_pr"><span>New</span></div><div class="new_pr1"><span>@item.tblProdu.discount_products_tra%</span></div>
                                 
                                    <div class="aside-block">
                                        <div class="image">
                                            <a class="quickview quickview-latest hidden-xs" data-rel="details" href="#quickview_latest_@item.tblProdu.id_products_tra">
                                                Xem nhanh
                                            </a>
                                            <a class="lazy" style="padding-bottom: 100%" href="@Url.Action("Detail","Default",new { id=item.tblProdu.name_products_tra.UrlFrendly() + "-" + item.tblProdu.id_products_tra })">
                                            
                                                <img alt="@item.tblProdu.name_products_tra" title="@item.tblProdu.name_products_tra" class="img-responsive"   src="@ConfigurationManager.AppSettings["domain"]@item.tblPicture.originalFilepath.ToString().Split('_')[0]/@item.tblPicture.originalFilepath" />
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <div class="name">
                                                <a href="@Url.Action("Detail","Default",new { id= item.tblProdu.name_products_tra + "-" + item.tblProdu.id_products_tra })">
                                                    @item.tblProdu.name_products_tra
                                                </a>
                                            </div>

                                            <span class="price-new">@item.tblProdu.newprice_products_tra</span>
                                            <span class="price-old">@item.tblProdu.oldprice_products_tra</span>
                                        </div>
                                        <div class="cart-button">
                                            <div class="rating">
                                                <span class="fa-stack">
                                                    <i class="material-icons-star   fa-stack-1x"></i>
                                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                                </span>
                                                <span class="fa-stack">
                                                    <i class="material-icons-star   fa-stack-1x"></i>
                                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                                </span>
                                                <span class="fa-stack">
                                                    <i class="material-icons-star   fa-stack-1x"></i>
                                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                                </span>
                                                <span class="fa-stack">
                                                    <i class="material-icons-star   fa-stack-1x"></i>
                                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                                </span>
                                                <span class="fa-stack">
                                                    <i class="material-icons-star   fa-stack-1x"></i>
                                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                                </span>
                                            </div>
                                            <div class="btns-block">
                                                <button class="product-btn-add" data-toggle="tooltip" title="Mua hàng" type="button">
                                                    <i class="mat-icons material-icons-shopping_basket"></i>
                                                    <span class="hidden-xs hidden-sm hidden-md">Mua hàng</span>
                                                </button>
                                                <button class="product-btn" type="button" data-toggle="tooltip" title="Add to Wish List">
                                                    <i class="mat-icons material-icons-favorite_border"></i>
                                                </button>
                                                <button class="product-btn" type="button" data-toggle="tooltip" title="Compare this Product">
                                                    <i class="mat-icons material-icons-sort"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            }
                          

                        </div>
                    </div>
                </div>
                <div id="parallax_0" class="parallax">
                    <div data-source-url="/img/parallax-1-1600x1228.jpg" class="parallax-1 img-responsive" >
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1 class="mod1">
                                        Find all kinds of ladies' handbags
                                        <span>suitable for any occasion</span>
                                    </h1>
                                    <div class="separator"></div>
                                    <p>A great number of different grateful clients is the best prove<br></br> of the previous statement.</p>
                                    <a class="button">Shop now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
