
@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
@using System.Web.Mvc;
@using WebTraFashion.Models;
@using System.Configuration
@{

    TrafashionEntities db = new TrafashionEntities();
    var querySlide = from data in db.tbl_slide_tra where data.status_slide_tra == 1 orderby data.id_slide_tra descending select data;
    var queryProducts =
        from data in db.tbl_products_tra
        join datapic in db.tblSysPictures on data.id_products_tra equals datapic.advert_id
        where data.status_products_tra == 1 && datapic.position == 1
        orderby data.id_products_tra descending
        select new ClassAll { tblProdu = data, tblPicture = datapic };

}

@section share_fb{

    <meta property="og:title" content="Trafashion chuyên các mặt hàng túi xách,balo,vali xách tay" />

    <meta property="og:url" content="http://trafashion.com" />
    <meta name="description" content="Trafashion chuyên các mặt hàng túi xách,balo,vali xách tay">
    <meta property="og:description" content="Trafashion chuyên các mặt hàng túi xách,balo,vali xách tay" />
    <meta name="keywords" content="túi xách,balo,vali,hàng xách tay,hàng xách tay chất lượng cao,sản phẩm xách tay" />
    <meta property="og:image" content="http://trafashion.com/img/logo.png" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
}


@Html.Partial("Header")

@Html.Partial("Slider", querySlide.ToList())

@Html.Partial("container", queryProducts.ToList())

<div class="content_bottom">
    <div class="container">
        <div id="about_block0" class="about_block">
            <div class="about-1">
                <div class="about-box">
                    @*<img src="~/img/client_photo-584x427.png" alt="about-1" class="img-responsive" />*@
                    <div class="s-desc">
                        <div class="under-block">
                            <blockquote>
                                <img src="~/img/chuky.jpg">
                           
                                <p>
                                    <q style="font:20px/35px">


                                        Chúng tôi cam kết các sản phẩm của <cite><img src="~/img/Logo.png" class="cusimqt" width="132" alt="Thời trang Trafashion" /></cite>   được phân phối hoàn toàn từ các thương hiệu nổi tiếng trên thế giới.
                                        Chất lượng của sản phẩm chính là chất lượng được cam kết từ thương hiệu của hãng.

                                    </q>
                                </p>
                                <cite><img src="~/img/Logo.png" width="132" alt="Thời trang Trafashion" /></cite>
                            </blockquote>
                        </div>
                        <div class="right-block">
                            <img src="~/img/Logo.png" width="360" alt="Thời trang Trafashion" />
                            <p style="white-space:pre-line">

                                -	<img src="~/img/Logo.png" width="120" alt="Thời trang Trafashion" /> Chúng tôi rất vui khi được bạn ghé thăm.
                                -  chuyên phân phối các sản phẩm chính hãng từ các thương hiệu nổi tiếng trên thế giới.
                                -	Chất lượng sản phẩm được <b style="color:white;font-weight:bold;">đảm bảo hoàn toàn 100% </b>là hàng hóa chính hãng từ các thương hiệu uy tín trên thế giới.
                                -	Là thành viên của <img src="~/img/Logo.png" width="132" alt="Thời trang Trafashion" />   . Chúng tôi luôn luôn mong muốn đem lại sự hài lòng cho quý khách về chất lượng, mẫu mã, thương hiệu của sản phẩm.
                                -	Chương trình Sale Off cho các sản phẩm sẽ được cập nhật trên trang webwiste chính thức này tại<a style="color:white;" href="http://trafashion.com/">http://trafashion.com/</a>
                                -	<img src="~/img/Logo.png" width="132" alt="Thời trang Trafashion" />   nơi đảm bảo tài sản cho khách hàng, nơi đáng tin cậy để trao niềm tin, kết nối đẳng cấp với thế giới.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box_html custom-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>GIAO HÀNG TOÀN QUỐC</h3>
                    <p>
                        Sản phẩm của bạn sẽ được giao trong thời gian nhanh nhất đến tận nhà hoặc văn phòng của bạn.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h3>Thanh toán an toàn</h3>
                    <p>
                        Chúng tôi cam kết tăng sự an toàn và an ninh của các khoản thanh toán của bạn. Giúp bạn mua sắm an toàn hơn.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h3>Hoàn tiền 100%</h3>
                    <p>
                        Chúng tôi sẽ hoàn tiền 100% cho bạn nếu phát hiện đây là hàng giả.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-bg img-responsive" style="background: url('/img/parallax-2.jpg');">
        <div id="tm-newsletter" class="box newsletter">
            <div class="box-heading"><h2 style="color:#ffffff;">Đăng ký nhận tin</h2></div>
            <div class="box-content">
                <p class="newsletter-description">
                    Đăng ký Email để nhận thông tin sản phẩm mới nhất và thông tin khuyến mãi.
                </p> <form method="post" action="@Url.Action("RegisMail","Default")" enctype="multipart/form-data" id="tm-newsletter-form">
                    <div class="tm-login-form">
                        <label class="control-label" for="input-tm-newsletter-email"></label>
                        <input type="text" name="email" value="" placeholder="Nhập Email của bạn" id="input-tm-newsletter-email" class="form-control" />
                    </div>
                    <span id="tm-newsletter_error" class="newsletter-error"></span>
                    <span id="tm-newsletter_success" class="newsletter-success"></span>
                    <button type="submit" id="tm-newsletter-button" class="dropdown-btn"><i class="material-design-drafts"></i>Đăng ký</button>
                </form>
            </div>
        </div>
    </div>
    <script>

    </script>
</div>
@Html.Partial("Footer")


