
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
@using System.Configuration
@using WebTraFashion.Models
@model IEnumerable<WebTraFashion.Models.tbl_products_tra>
@using System.Web.Mvc;
@{

    TrafashionEntities db = new TrafashionEntities();
    var queryProduct = from data in db.tbl_products_tra where data.status_products_tra == 1 orderby data.id_products_tra descending select data;
   

}




        
    
@Html.Partial("Header")
<div class="container">
    <ul class="breadcrumb product-bread">
        <li>
            <a href="index.php?route=common/home">Home</a>
        </li>
        <li>
            <a href="Versace">Versace Bag</a>
        </li>
    </ul>
</div>
@foreach (var item in Model.ToList())
{


    <div class="product-bg">
        <div class="container">
            <div class="row product-content-columns">

                <div class="col-sm-5 col-lg-7 product_page-left">

                    <div id="default_gallery" class="product-gallery">
                        <div id="product-image" class="product-image">
                            <div class="magnificent-wrap">
                                <div class="magnificent" data-magnificent="product-image">
                                    <div class="polaroid">
                                        <div class="inner">
                                            <img src="@ConfigurationManager.AppSettings["domain"]@item.img_products_tra.ToString().Split('_')[0]/@item.img_products_tra"
                                                 alt="@item.name_products_tra" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="magnificent-viewport-wrap">
                                <div data-magnificent-viewport="product-image">
                                    <div class="inner">
                                        <img src="@ConfigurationManager.AppSettings["domain"]@item.img_products_tra.ToString().Split('_')[0]/@item.img_products_tra" alt="Versace Bag" />
                                    </div>
                                </div>
                            </div>
                            <script class="source">
                                $(function () {
                                    $('#product-image [data-magnificent]').magnificent();
                                });
                            </script>
                        </div>
                        <div class="image-thumb">
                            <ul id="image-additional" class="image-additional">
                                <li>
                                    <a href="#" data-image="@ConfigurationManager.AppSettings["domain"]@item.img_products_tra.ToString().Split('_')[0]/@item.img_products_tra">
                                        <img src="@ConfigurationManager.AppSettings["domain"]@item.img_products_tra.ToString().Split('_')[0]/@item.img_products_tra" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-image="@ConfigurationManager.AppSettings["domain"]@item.img1_products_tra.ToString().Split('_')[0]/@item.img1_products_tra">
                                        <img src="@ConfigurationManager.AppSettings["domain"]@item.img1_products_tra.ToString().Split('_')[0]/@item.img1_products_tra" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-image="@ConfigurationManager.AppSettings["domain"]@item.img2_products_tra.ToString().Split('_')[0]/@item.img2_products_tra">
                                        <img src="@ConfigurationManager.AppSettings["domain"]@item.img2_products_tra.ToString().Split('_')[0]/@item.img2_products_tra" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-image="@ConfigurationManager.AppSettings["domain"]@item.img3_products_tra.ToString().Split('_')[0]/@item.img3_products_tra">
                                        <img src="@ConfigurationManager.AppSettings["domain"]@item.img3_products_tra.ToString().Split('_')[0]/@item.img3_products_tra" alt="" />
                                    </a>
                                </li>
                          
                            </ul>
                        </div>
                    </div>

                    <div id="full_gallery">
                        <ul id="gallery">
                            <li>
                                <a href="@ConfigurationManager.AppSettings["domain"]@item.img_products_tra.ToString().Split('_')[0]/@item.img_products_tra" data-something="something" data-another-thing="anotherthing">
                                    <img src="@ConfigurationManager.AppSettings["domain"]@item.img_products_tra.ToString().Split('_')[0]/@item.img_products_tra" title="Versace Bag" alt="Versace Bag" />
                                </a>
                            </li>
                            <li>
                                <a href="@ConfigurationManager.AppSettings["domain"]@item.img1_products_tra.ToString().Split('_')[0]/@item.img1_products_tra" data-something="something1" data-another-thing="anotherthing1">
                                    <img src="@ConfigurationManager.AppSettings["domain"]@item.img1_products_tra.ToString().Split('_')[0]/@item.img1_products_tra" alt="Versace Bag" />
                                </a>
                            </li>
                            <li>
                                <a href="@ConfigurationManager.AppSettings["domain"]@item.img2_products_tra.ToString().Split('_')[0]/@item.img2_products_tra" data-something="something1" data-another-thing="anotherthing1">
                                    <img src="@ConfigurationManager.AppSettings["domain"]@item.img2_products_tra.ToString().Split('_')[0]/@item.img2_products_tra" alt="Versace Bag" />
                                </a>
                            </li>
                            <li>
                                <a href="@ConfigurationManager.AppSettings["domain"]@item.img3_products_tra.ToString().Split('_')[0]/@item.img3_products_tra" data-something="something1" data-another-thing="anotherthing1">
                                    <img src="@ConfigurationManager.AppSettings["domain"]@item.img3_products_tra.ToString().Split('_')[0]/@item.img3_products_tra" alt="Versace Bag" />
                                </a>
                            </li>
                  
                        </ul>
                    </div>
                </div>

                <div class="col-sm-7 col-lg-5 product_page-right">
                    <div class="general_info product-info">
                        <h2 class="product-title">@item.name_products_tra</h2>
                        <div class="separator1"></div>
                        <div class="price-section">
                            <span class="price-new"></span>
                            <span class="price-new">@item.newprice_products_tra</span>
                            <div class="reward-block">
                            </div>
                        </div>

                        <div class="rating-section product-rating-status">
                            <div class="rating">
                                <span class="fa-stack">
                                    <i class="material-icons-star   fa-stack-1x"></i>
                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                </span>
                                <span class="fa-stack">
                                    <i class="material-icons-star   fa-stack-1x"></i>
                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                </span>
                                <span class="fa-stack">
                                    <i class="material-icons-star   fa-stack-1x"></i>
                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                </span>
                                <span class="fa-stack">
                                    <i class="material-icons-star   fa-stack-1x"></i>
                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                </span>
                                <span class="fa-stack">
                                    <i class="material-icons-star   fa-stack-1x"></i>
                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                </span>
                                <span class="review-link review-link-show">
                                    <a href="#">1 reviews</a>
                                </span>
                                <span class="review-link review-link-write">
                                    <a href="#">Write a review</a>
                                </span>
                            </div>
                        </div>
                        <ul class="list-unstyled product-section">
                            <li>
                                <strong>Brand:</strong>
                                <a href="apple">Versace</a>
                            </li>
                            <li><strong>Product Code:</strong> <span>@item.code_products_tra</span></li>
                            <li>
                                <strong>Availability: </strong><span class="stock">In Stock</span>
                            </li>
                        </ul>
                    </div>
                    <div id="product">

                        @*<div class="product-options form-horizontal">
                            <h3>Available Options</h3>
                            <div class="form-group required">
                                <label class="control-label col-sm-12">Color</label>
                                <div class="col-sm-12">
                                    <div id="input-option35">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="option[35]" value="94" />
                                                black (+$10.00)
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="option[35]" value="95" />
                                                white (+$20.00)
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="option[35]" value="96" />
                                                red (+$15.00)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="control-label col-sm-12" for="input-option34">Size</label>
                                <div class="col-sm-12">
                                    <select name="option[34]" id="input-option34" class="form-control">
                                        <option value="">--- Please Select ---</option>
                                        <option value="91">
                                            Small (+$20.00)
                                        </option>
                                        <option value="92">
                                            Medium (+$15.00)
                                        </option>
                                        <option value="93">
                                            Large (+$10.00)
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>*@

                        <div class="product-reccurings">
                        </div>

                        @*<div class="form-group form-horizontal add-to-cart-form">
                            <div class="form-group">
                                <div class="col-sm-12 quantity">
                                    <label class="control-label" for="input-quantity">Qty</label>
                                    <a class="counter counter-minus material-design-horizontal39" href='#'></a>
                                    <input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control" />
                                    <input type="hidden" name="product_id" value="48" />
                                    <a class="counter counter-plus material-design-add186" href='#'></a>
                                    <button type="button" id="button-cart" data-loading-text="Loading..." class="product-btn-add"><i class="mat-icons material-icons-shopping_basket"></i>Add to Cart</button>
                                </div>
                            </div>
                            <ul class="product-buttons">
                                <li>
                                    <button class="product-btn" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('48');"><i class="mat-icons material-icons-favorite_border"></i></button>
                                </li>
                                <li>
                                    <button type="button" class="product-btn" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('48');">
                                        <i class="mat-icons material-icons-sort"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>*@
                        <div class="product-share">

                            <div class="addthis_sharing_toolbox"></div>

                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55e053ac02ebd38e" async="async"></script>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-info-section">
        <div class="product-info">
            <div class="info_1">
                <div class="info_cnt">
                    <h3 class="mod1">Description</h3>
                    <div class="description_paragraph">
                        <p>
                            <b>
                                Welcome to the world of fashion.
                            </b> We are proud to present you the largest choice of handbags on the web.
                            Here you can find a great number of different goods. Our store offers stylish, premium quality handbags at the lowest possible prices.
                        </p>
                        <p>
                            <b>
                                We have a perfect reputation and great experience
                            </b> in this sphere and that is why our products are so popular and
                            have many faithful fans all over the country. What we sell are not just simple handbags; the products of our shop are the
                            part of a style because nowadays handbag is the essential detail of the women’s wardrobe. We know how important it is for the
                            modern women to have several interesting and trendy bags.
                        </p>
                    </div>
                </div>
                <img src="~/img/prod_inf_img1.jpg" alt="">
            </div>
            <div class="info_2">
                <img src="~/img/prod_inf_img2.jpg" alt="">
                <div class="info_cnt">
                    <h3 class="mod1">Specification</h3>
                    <table class="table table-bordered">
                        <ul>
                            <li>
                                <span>Soft suede leather stash clutch in Midnight Suede</span>
                            </li>
                            <li>
                                <span>Casual, medium size</span>
                            </li>
                            <li>
                                <span>100% Milled leather</span>
                            </li>
                            <li>
                                <span>Round sides</span>
                            </li>
                            <li>
                                <span>Top zipper closure</span>
                            </li>
                            <li>
                                <span>Silver hardware</span>
                            </li>
                            <li>
                                <span>Heat pressed logo</span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span>Fully lined cloth interior</span>
                            </li>
                            <li>
                                <span>Made in USA </span>
                            </li>
                        </ul>
                    </table>
                </div>
            </div>
            <div class="info_3">
                <img src="~/img/prod_inf_img3.jpg" alt="">
                <img src="~/img/prod_inf_img4.jpg" alt="">
            </div>
        </div>
    </div>

}

<div class="container">
    <div class="row">
        <div id="content" class="col-sm-12 product_page">

            <div id="tab-review" class="tab-pane product-reviews product-section">
                <h3 class="mod1">Reviews (1)</h3>
                <form class="form-horizontal" id="form-review">

                    <div id="review"></div>

                    <div class="review-form-title">
                        <h3 class="product-section_title" id="reviews_form_title">Write a review</h3>
                    </div>
                    <div class="product-review-form" id="reviews_form">
                        <div class="form-group required">
                            <div class="col-sm-12">
                                <label class="control-label" for="input-name">Your Name</label>
                                <input type="text" name="name" value="" id="input-name" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group required">
                            <div class="col-sm-12">
                                <label class="control-label" for="input-review">Your Review</label>
                                <textarea name="text" rows="5" id="input-review"></textarea>
                                <div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <div class="col-sm-12">
                                <label class="control-label">Rating</label>
                                &nbsp;&nbsp;&nbsp; Bad&nbsp;
                                <input type="radio" name="rating" value="1" />
                                &nbsp;
                                <input type="radio" name="rating" value="2" />
                                &nbsp;
                                <input type="radio" name="rating" value="3" />
                                &nbsp;
                                <input type="radio" name="rating" value="4" />
                                &nbsp;
                                <input type="radio" name="rating" value="5" />
                                &nbsp;Good
                            </div>
                        </div>
                        <div class="buttons clearfix">
                            <button type="button" id="button-review" data-loading-text="Loading..." class="btn btn-primary">Continue</button>
                        </div>
                    </div>
                </form>
            </div>
            @Html.Partial("relatedProduct", queryProduct.ToList())
           
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        var myPhotoSwipe = $("#gallery a").photoSwipe({
            enableMouseWheel: true,
            enableKeyboard: false,
            captionAndToolbarAutoHideDelay: 0
        });
    });
</script>