
@using WebTraFashion.Models
@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using System.Configuration
@model IEnumerable<ClassAll>
<div class="box featured">
    <div class="box-heading"><h3>Tiêu biểu</h3></div>
    <div class="box-content">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="product-thumb transition options">


                    <div class="quick_info hidden-xs">
                        <div id="quickview_latest_@item.tblProdu.id_products_tra" class="quickview-style">
                            <div>
                                <div class="left col-sm-4">
                                    <div class="quickview_image image">
                                        <a href="@Url.Action("Detail","Default",new { id=item.tblProdu.name_products_tra.UrlFrendly() + "-" + item.tblProdu.id_products_tra })">

                                            <img alt="@item.tblProdu.name_products_tra" title="@item.tblProdu.name_products_tra" class="img-responsive" src="@ConfigurationManager.AppSettings["domain"]@item.tblPicture.originalFilepath.ToString().Split('_')[0]/@item.tblPicture.originalFilepath" />
                                        </a>
                                    </div>
                                </div>
                                <div class="right col-sm-8">
                                    <h2>@item.tblProdu.name_products_tra</h2>
                                    <div class="inf">
                                        <p class="product_model model">Model: @item.tblProdu.code_products_tra</p>
                                        <span class="price-new">@item.tblProdu.newprice_products_tra</span>
                                        <span class="price-old">@item.tblProdu.oldprice_products_tra</span>
                                    </div>
                                    <div class="rating">
                                        <span class="fa-stack">
                                            <i class="material-icons-star   fa-stack-1x"></i>
                                            <i class="material-icons-star star  fa-stack-1x"></i>
                                        </span>
                                        <span class="fa-stack">
                                            <i class="material-icons-star   fa-stack-1x"></i>
                                            <i class="material-icons-star star  fa-stack-1x"></i>
                                        </span>
                                        <span class="fa-stack">
                                            <i class="material-icons-star   fa-stack-1x"></i>
                                            <i class="material-icons-star star  fa-stack-1x"></i>
                                        </span>
                                        <span class="fa-stack">
                                            <i class="material-icons-star   fa-stack-1x"></i>
                                            <i class="material-icons-star star  fa-stack-1x"></i>
                                        </span>
                                        <span class="fa-stack">
                                            <i class="material-icons-star   fa-stack-1x"></i>
                                            <i class="material-icons-star star  fa-stack-1x"></i>
                                        </span>
                                    </div>
                                    <button class="product-btn-add" data-toggle="tooltip" title="Mua hàng" type="button">
                                        <i class="mat-icons material-icons-shopping_basket"></i>
                                        <span>Mua hàng</span>
                                    </button>
                                    <ul class="product-buttons">
                                        <li>
                                            <button class="btn btn-icon" type="button" data-toggle="tooltip" title="Add to Wish List">
                                                <i class="mat-icons material-icons-favorite_border"></i>
                                                <span>Add to Wish List</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="btn btn-icon" type="button" data-toggle="tooltip" title="Compare this Product">
                                                <i class="mat-icons material-icons-sort"></i>
                                                <span>Compare this Product</span>
                                            </button>
                                        </li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="quickview_description description">
                                        <p style="white-space:pre-line;">
                                            @item.tblProdu.des_products_tra
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="new_pr"><span>New</span></div>

                    <div class="aside-block">
                        <div class="image">
                            <a class="quickview quickview-latest hidden-xs" data-rel="details" href="#quickview_latest_@item.tblProdu.id_products_tra">
                                Xem nhanh
                            </a>
                            <a class="lazy" style="padding-bottom: 100%" href="@Url.Action("Detail","Default",new { id=item.tblProdu.name_products_tra.UrlFrendly() + "-" + item.tblProdu.id_products_tra })">

                                <img alt="@item.tblProdu.name_products_tra" title="@item.tblProdu.name_products_tra" class="img-responsive" src="@ConfigurationManager.AppSettings["domain"]@item.tblPicture.originalFilepath.ToString().Split('_')[0]/@item.tblPicture.originalFilepath" />
                            </a>
                        </div>
                        <div class="caption">
                            <div class="name">
                                <a href="@Url.Action("Detail","Default",new { id= item.tblProdu.name_products_tra + "-" + item.tblProdu.id_products_tra })">
                                    @item.tblProdu.name_products_tra
                                </a>
                            </div>

                            <span class="price-new">@item.tblProdu.newprice_products_tra</span>
                            <span class="price-old">@item.tblProdu.oldprice_products_tra</span>
                        </div>
                        <div class="cart-button">
                            <div class="rating">
                                <span class="fa-stack">
                                    <i class="material-icons-star   fa-stack-1x"></i>
                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                </span>
                                <span class="fa-stack">
                                    <i class="material-icons-star   fa-stack-1x"></i>
                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                </span>
                                <span class="fa-stack">
                                    <i class="material-icons-star   fa-stack-1x"></i>
                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                </span>
                                <span class="fa-stack">
                                    <i class="material-icons-star   fa-stack-1x"></i>
                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                </span>
                                <span class="fa-stack">
                                    <i class="material-icons-star   fa-stack-1x"></i>
                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                </span>
                            </div>
                            <div class="btns-block">
                                <button class="product-btn-add" data-toggle="tooltip" title="Mua hàng" type="button">
                                    <i class="mat-icons material-icons-shopping_basket"></i>
                                    <span class="hidden-xs hidden-sm hidden-md">Mua hàng</span>
                                </button>
                                <button class="product-btn" type="button" data-toggle="tooltip" title="Add to Wish List">
                                    <i class="mat-icons material-icons-favorite_border"></i>
                                </button>
                                <button class="product-btn" type="button" data-toggle="tooltip" title="Compare this Product">
                                    <i class="mat-icons material-icons-sort"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            }




        </div>
    </div>
</div>

