
<footer>

    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer_box">
                    <h5>Thông tin</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a>GIỚI THIỆU</a>
                        </li>

                        <li>
                            <a href="@Url.Action("ListProducts","Default",new { id=6})">TÚI XÁCH</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ListProducts","Default",new { id=1})">VÍ </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ListProducts","Default",new { id=2})">BALO</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ListProducts","Default",new { id=3})">VALI</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ListProducts","Default",new { id=4})">PHỤ KIỆN</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ListProducts","Default",new { id=5})">SALE</a>
                        </li>
                       
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer_box">
                    <h5>Dịch vụ</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="@Url.Action("Contact","Default")">LIÊN HỆ</a>
                        </li>
                        <li>
                            <a>THỜI TRANG NỮ</a>
                        </li>
                        <li>
                            <a> GIAO HÀNG TOÀN QUỐC</a>
                        </li>
                        <li>
                            <a>THANH TOÁN AN TOÀN CAM KẾT </a>
                        </li>
                       
                          
                       
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="footer_box">
                    <h5>Like FanPage</h5>
                    <div class="fb-page" data-href="https://www.facebook.com/Trafashion-1609427949376965/timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
                </div>
            </div>
           
        </div>
    </div>
    <div class="container">
        <div class="border"></div>
        <div class="fleft">
            <div class="logo-block">
                <a href="./"><img src="~/img/Logo.png" width="300" alt=""></a>
            </div>
            <div class="copyright">
                tunguyen.it.dev@gmail.com &copy; 2016
            </div> >
            <div class="fright">
                <div>
                    <dl>
                        <dt>Địa chỉ:</dt>
                        <dd>
                           TP.Hồ Chí Minh
                        </dd>
                    </dl>
                </div>
                <div>
                    <address class="material-design-phone370">
                        <a href="callto:0938715689">0938-715-689</a>
                    </address>
                </div>
                <div>

                    <ul class="social-list list-unstyled">
                        <li>
                            <a href='https://www.facebook.com/Trafashion-1609427949376965/timeline'>
                                <i class="fa fa-facebook"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                       
                        <li>
                            <a href='//www.youtube.com'>
                                <i class="fa fa-google-plus"></i>
                                <span>Google Plus</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.6&appId=1542874159340791";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>