<header>
    <div class="top-menu">
        <div class="fleft">
            <div class="box-language">
                  
                        <ul class="language-list">
                            <li>
                                <a class="active">
                                    vn
                                </a>
                            </li>
                            <li>
                                <a >
                                    en
                                </a>
                            </li>
                            <li>
                                <a >
                                    de
                                </a>
                            </li>
                            <li>
                                <a >
                                    ru
                                </a>
                            </li>
                        </ul>
                     
                
                </div>
                @*<div class="box-currency">
                    <div class="fb-like" data-href="https://www.facebook.com/Trafashion-1609427949376965/timeline" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                  <form action="" method="post" enctype="multipart/form-data" id="currency">
                        <ul class="currency-list">
                            <li>
                                <button class="currency-select" type="button" name="EUR">
                                    €
                                </button>
                            </li>
                            <li>
                                <button class="currency-select" type="button" name="GBP">
                                    £
                                </button>
                            </li>
                            <li>
                                <button class="active currency-select" type="button" name="USD">
                                    $
                                </button>
                            </li>
                        </ul>
                        <input type="hidden" name="code" value="" />
                        <input type="hidden" name="redirect" value="" />
                    </form>
                </div>*@
        </div>
        <div class="fright">
            <address class="material-design-phone370">
                <a href="callto:0938715689">0938-715-689</a>
            </address>
            <nav id="top-links" class="nav toggle-wrap">
                <a class="toggle material-design-settings49"></a>
                <ul class="toggle_cont nav-toggle-cont">
                   
                    <li class="toggle-wrap">
                        <a>
                            <i class="material-design-user157"></i>
                            <span>Tài khoản</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="material-icons-vpn_key"></i>
                            <span>Đăng nhập</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/Trafashion-1609427949376965/timeline">
                            <i class="fa fa-facebook"></i>
                            <span>Facebook</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="box-cart">
                <div id="cart" class="cart toggle-wrap">
                    <button type="button" data-loading-text="Loading..." class="toggle">
                        <i class="material-design-shopping231"></i>
                        <strong>Cart:</strong>

                        <span id="cart-total2" class="cart-total2">0</span>
                    </button>
                    <ul class="pull-right toggle_cont">
                        <li>
                            <p class="text-center">Your shopping cart is empty!</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="stuck" class="stuck-menu">
        <div id="logo" class="logo">
            <a href="@Url.Action("Default","Default")"><img src="~/img/logo.png" width="300" title="TraFashion" alt="TraFashion" class="img-responsive" /></a>
        </div>
        <div id="menu-gadget" class="menu-gadget">
            <ul class="menu">
                <li>
                    <a href="@Url.Action("ListProducts","Default",new { id=6})">TÚI XÁCH</a>
                </li>
                <li>
                    <a href="@Url.Action("ListProducts","Default",new { id=1})">VÍ </a>
                </li>
                <li>
                    <a href="@Url.Action("ListProducts","Default",new { id=2})">BALO</a>
                </li>
                <li>
                    <a href="@Url.Action("ListProducts","Default",new { id=3})">VALI</a>
                </li>
                <li>
                    <a href="@Url.Action("ListProducts","Default",new { id=4})">PHỤ KIỆN</a>
                </li>
                <li>
                    <a href="@Url.Action("ListProducts","Default",new { id=5})">SALE</a>
                </li>
                <li>
                 
                    <a href="http://vangia.net/">VẠN GIA</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <div id="tm_menu" class="nav__primary " >
                <ul class="menu" style="font-family:Roboto !important;font-weight:bold;color:#b4a376 !important;">
                    <li>
                        <a href="@Url.Action("ListProducts","Default",new { id=6})">TÚI XÁCH</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListProducts","Default",new { id=1})">VÍ </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListProducts","Default",new { id=2})">BALO</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListProducts","Default",new { id=3})">VALI</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListProducts","Default",new { id=4})">PHỤ KIỆN</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListProducts","Default",new { id=5})">SALE</a>
                    </li>
                    <li>
                        <a href="http://vangia.net/">VẠN GIA</a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        @*<div class="search toggle-wrap">
            <div class="toggle-search"></div>
            <div class="toggle_cont">
                <div id="search">
                    <input type="text" name="search" value="" placeholder="Search..." />
                    <button type="button" class="button-search"></button>
                    <i class="closebtn"></i>
                </div>
            </div>
        </div>*@
    </div>
</header>
