<header>
    <div class="top-menu">
        <div class="fleft">
            <div class="box-language">
                <form action="" method="post" enctype="multipart/form-data" id="language">
                    <ul class="language-list">
                        <li>
                            <a class="active" href="en">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="de">
                                de
                            </a>
                        </li>
                        <li>
                            <a href="ru">
                                ru
                            </a>
                        </li>
                    </ul>
                    <input type="hidden" name="code" value="" />
                    <input type="hidden" name="redirect" value="" />
                </form>
            </div>
            <div class="box-currency">
                <form action="" method="post" enctype="multipart/form-data" id="currency">
                    <ul class="currency-list">
                        <li>
                            <button class="currency-select" type="button" name="EUR">
                                €
                            </button>
                        </li>
                        <li>
                            <button class="currency-select" type="button" name="GBP">
                                £
                            </button>
                        </li>
                        <li>
                            <button class="active currency-select" type="button" name="USD">
                                $
                            </button>
                        </li>
                    </ul>
                    <input type="hidden" name="code" value="" />
                    <input type="hidden" name="redirect" value="" />
                </form>
            </div>
        </div>
        <div class="fright">
            <address class="material-design-phone370">
                <a href="callto:0938715689">0938-715-689</a>
            </address>
            <nav id="top-links" class="nav toggle-wrap">
                <a class="toggle material-design-settings49"></a>
                <ul class="toggle_cont nav-toggle-cont">
                    <li>
                        <a title="Checkout">
                            <i class="material-design-double126"></i>
                            <span>Checkout</span>
                        </a>
                    </li>
                    <li class="toggle-wrap">
                        <a>
                            <i class="material-design-user157"></i>
                            <span>My Account</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="material-icons-vpn_key"></i>
                            <span>Login</span>
                        </a>
                    </li>
                    <li>
                        <a id="wishlist-total" title="Wishlist: 0">
                            <i class="material-design-favorite22"></i>
                            <span>Wishlist: 0</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="box-cart">
                <div id="cart" class="cart toggle-wrap">
                    <button type="button" data-loading-text="Loading..." class="toggle">
                        <i class="material-design-shopping231"></i>
                        <strong>Cart:</strong>

                        <span id="cart-total2" class="cart-total2">0</span>
                    </button>
                    <ul class="pull-right toggle_cont">
                        <li>
                            <p class="text-center">Your shopping cart is empty!</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="stuck" class="stuck-menu">
        <div id="logo" class="logo">
            <a href="@Url.Action("Default","Default")"><img src="~/img/logo.png" title="TraFashion" alt="TraFashion" class="img-responsive" /></a>
        </div>
        <div id="menu-gadget" class="menu-gadget">
            <ul class="menu">
                <li>
                    <a href="@Url.Action("Default","Default")">TRANG CHỦ </a>
                </li>
                <li>
                    <a href="@Url.Action("ListProducts","Default",new { id=1})">VÍ </a>
                </li>
                <li>
                    <a href="@Url.Action("ListProducts","Default",new { id=2})">BALO</a>
                </li>
                <li>
                    <a href="@Url.Action("ListProducts","Default",new { id=3})">VALI</a>
                </li>
                <li>
                    <a href="@Url.Action("ListProducts","Default",new { id=4})">PHỤ KIỆN</a>
                </li>
                <li>
                    <a href="@Url.Action("ListProducts","Default",new { id=5})">SALE</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <div id="tm_menu" class="nav__primary">
                <ul class="menu">
                    <li>
                        <a href="@Url.Action("Default","Default")">TRANG CHỦ </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListProducts","Default",new { id=1})">VÍ </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListProducts","Default",new { id=2})">BALO</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListProducts","Default",new { id=3})">VALI</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListProducts","Default",new { id=4})">PHỤ KIỆN</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListProducts","Default",new { id=5})">SALE</a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="search toggle-wrap">
            <div class="toggle-search"></div>
            <div class="toggle_cont">
                <div id="search">
                    <input type="text" name="search" value="" placeholder="Search..." />
                    <button type="button" class="button-search"></button>
                    <i class="closebtn"></i>
                </div>
            </div>
        </div>
    </div>
</header>
