
@using WebTraFashion.Models
@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using System.Configuration
@model IEnumerable<ClassAll>
<div class="box latest">
    <div class="box-heading">
        <h3 style="max-width:205px!important;">Sản phẩm mới nhất</h3>
        <span>
            NHIỀU NHÃN HIỆU THỜI TRANG CỦA THẾ GIỚI ĐANG ĐỢI BẠN, BẠN CÒN CHỜ GÌ NỮA?
            HÃY NHANH NHANH CHỌN CHO MÌNH MỘT SẢN PHẨM ƯNG Ý ĐI NÀO!

        </span>
    </div>
    <div class="box-content">
        <div class="box-carousel">
            @foreach (var item in Model)
            {
                <div class="product-thumb transition options">


                    <div class="quick_info hidden-xs">
                        <div id="quickview_latest_@item.tblProdu.id_products_tra" class="quickview-style">
                            <div>
                                <div class="left col-sm-4">
                                    <div class="quickview_image image">
                                        <a href="@Url.Action("Detail","Default",new { id=item.tblProdu.name_products_tra.UrlFrendly() + "-" + item.tblProdu.id_products_tra })">

                                            <img alt="@item.tblProdu.name_products_tra" title="@item.tblProdu.name_products_tra" class="img-responsive" src="@ConfigurationManager.AppSettings["domain"]@item.tblPicture.originalFilepath.ToString().Split('_')[0]/@item.tblPicture.originalFilepath" />
                                        </a>
                                    </div>
                                </div>
                                <div class="right col-sm-8">
                                    <h2>@item.tblProdu.name_products_tra</h2>
                                    <div class="inf">
                                        <p class="product_model model">Model: @item.tblProdu.code_products_tra</p>
                                        <span class="price-new price-new_@item.tblProdu.id_products_tra">
                                            <script>
                                                $(function () {

                                                    $('.price-new_@item.tblProdu.id_products_tra').text(tien(@item.tblProdu.newprice_products_tra) );
                                                }) </script>
                                        </span>

                                        <span class="price-old price-old_@item.tblProdu.id_products_tra">
                                            <script>
                                                    $(function () {

                                                        $('.price-old_@item.tblProdu.id_products_tra').text(tien(@item.tblProdu.oldprice_products_tra));
                                                    })
                                            </script>

                                        </span>
                                    </div>
                                    <div class="rating">
                                        <span class="fa-stack">
                                            <i class="material-icons-star   fa-stack-1x"></i>
                                            <i class="material-icons-star star  fa-stack-1x"></i>
                                        </span>
                                        <span class="fa-stack">
                                            <i class="material-icons-star   fa-stack-1x"></i>
                                            <i class="material-icons-star star  fa-stack-1x"></i>
                                        </span>
                                        <span class="fa-stack">
                                            <i class="material-icons-star   fa-stack-1x"></i>
                                            <i class="material-icons-star star  fa-stack-1x"></i>
                                        </span>
                                        <span class="fa-stack">
                                            <i class="material-icons-star   fa-stack-1x"></i>
                                            <i class="material-icons-star star  fa-stack-1x"></i>
                                        </span>
                                        <span class="fa-stack">
                                            <i class="material-icons-star   fa-stack-1x"></i>
                                            <i class="material-icons-star star  fa-stack-1x"></i>
                                        </span>
                                    </div>
                                    <button class="product-btn-add" data-toggle="tooltip" title="Mua hàng" type="button">
                                        <i class="mat-icons material-icons-shopping_basket"></i>
                                        <span>Mua hàng</span>
                                    </button>
                                    <ul class="product-buttons">
                                        <li>
                                            <button class="btn btn-icon" type="button" data-toggle="tooltip" title="Add to Wish List">
                                                <i class="mat-icons material-icons-favorite_border"></i>
                                                <span>Add to Wish List</span>
                                            </button>
                                            <button class="product-btn-add" data-toggle="tooltip" title="Mua hàng" type="button">
                                                <i class="mat-icons material-icons-shopping_basket"></i>
                                                <span class="hidden-xs hidden-sm hidden-md">Đặt hàng</span>
                                            </button>
                                        </li>
                                        <li>
                                            <button class="btn btn-icon" type="button" data-toggle="tooltip" title="Compare this Product">
                                                <i class="mat-icons material-icons-sort"></i>
                                                <span>Compare this Product</span>
                                            </button>
                                        </li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="quickview_description description">
                                        <p style="white-space:pre-line;">
                                            @item.tblProdu.des_products_tra
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (item.tblProdu.new_products_tra == 0)
                    {

                    }
                    else
                    {
                        <div class="new_pr"><span>New</span></div>
                    }




                    <div class="aside-block">
                        <div class="image">
                            <a class="quickview quickview-latest hidden-xs" data-rel="details" href="#quickview_latest_@item.tblProdu.id_products_tra">
                                Xem nhanh
                            </a>
                            <a class="lazy" style="padding-bottom: 100%" href="@Url.Action("Detail","Default",new { id=item.tblProdu.name_products_tra.UrlFrendly() + "-" + item.tblProdu.id_products_tra })">

                                <img alt="@item.tblProdu.name_products_tra" title="@item.tblProdu.name_products_tra" class="img-responsive" src="@ConfigurationManager.AppSettings["domain"]@item.tblPicture.originalFilepath.ToString().Split('_')[0]/@item.tblPicture.originalFilepath" />
                            </a>
                        </div>
                        <div class="caption">
                            <div class="name">
                                <a href="@Url.Action("Detail","Default",new { id= item.tblProdu.name_products_tra.UrlFrendly() + "-" + item.tblProdu.id_products_tra })">
                                    @item.tblProdu.name_products_tra
                                </a>
                            </div>

                            <span class="price-new price-new_@item.tblProdu.id_products_tra">
                                <script>
                                                $(function () {

                                                    $('.price-new_@item.tblProdu.id_products_tra').text(tien(@item.tblProdu.newprice_products_tra) );
                                                }) </script>
                            </span>

                            <span class="price-old price-old_@item.tblProdu.id_products_tra">
                                <script>
                                                    $(function () {

                                                        $('.price-old_@item.tblProdu.id_products_tra').text(tien(@item.tblProdu.oldprice_products_tra));
                                                    })
                                </script>

                            </span>
                        </div>
                        <div class="cart-button">
                            <div class="rating">
                                <span class="fa-stack">
                                    <i class="material-icons-star   fa-stack-1x"></i>
                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                </span>
                                <span class="fa-stack">
                                    <i class="material-icons-star   fa-stack-1x"></i>
                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                </span>
                                <span class="fa-stack">
                                    <i class="material-icons-star   fa-stack-1x"></i>
                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                </span>
                                <span class="fa-stack">
                                    <i class="material-icons-star   fa-stack-1x"></i>
                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                </span>
                                <span class="fa-stack">
                                    <i class="material-icons-star   fa-stack-1x"></i>
                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                </span>
                            </div>
                            <div class="btns-block">
                                @if (item.tblProdu.yes_products_tra == 1)
                                {
                                    <button type="button" title="Mua hàng" class="product-btn-add" data-toggle="modal" data-target="#myModal_@item.tblProdu.id_products_tra"><i class="mat-icons material-icons-shopping_basket"></i><span class="hidden-xs hidden-sm hidden-md">Mua hàng</span></button>
                                }
                                @if (item.tblProdu.yes_products_tra == 0)
                                {
                                    <button type="button" title="Đặt hàng" class="product-btn-add" data-toggle="modal" data-target="#myModalbuy_@item.tblProdu.id_products_tra"><i class="mat-icons material-icons-shopping_basket"></i><span class="hidden-xs hidden-sm hidden-md">Đặt hàng</span></button>
                                }
                                @if (item.tblProdu.yes_products_tra == 3)
                                {
                                    <button type="button" title="Hết hàng" class="product-btn-add"><i class="mat-icons material-icons-shopping_basket"></i><span class="hidden-xs hidden-sm hidden-md">Hết hàng</span></button>
                                }

                                <button class="product-btn" type="button" data-toggle="tooltip" title="Add to Wish List">
                                    <i class="mat-icons material-icons-favorite_border"></i>
                                </button>
                                <button class="product-btn" type="button" data-toggle="tooltip" title="Compare this Product">
                                    <i class="mat-icons material-icons-sort"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            }


        </div>
    </div>
</div>

@foreach (var item in Model)
{
    <div id="myModal_@item.tblProdu.id_products_tra" class="modal fade" role="dialog">
        <div class="modal-dialog">
            @using (Html.BeginForm("buy", "Default"))
            {

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@item.tblProdu.name_products_tra</h4>
                        <input type="hidden" value='@item.tblProdu.name_products_tra.UrlFrendly()-@item.tblProdu.id_products_tra' name="idpro" />
                        <input type="hidden" value="@item.tblProdu.name_products_tra" name="nameproduct" />
                        <input type="hidden" value="@item.tblProdu.code_products_tra" name="codeproduct" />
                        <input type="hidden" value="@item.tblProdu.newprice_products_tra" name="price" />
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-3">
                                Mã sản phẩm: @item.tblProdu.code_products_tra<br />
                                Giá: <label class="showPrice__@item.tblProdu.id_products_tra"></label>
                                <script>
                                                $(function () {
                                                    $('.showPrice__@item.tblProdu.id_products_tra').text(tien(@item.tblProdu.newprice_products_tra));
                                                }) </script>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Họ và tên</label>
                                    <input class="form-control" name="name">
                                </div>

                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Số điện thoại</label>
                                    <input class="form-control" name="phone">
                                </div>

                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" name="email">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                            </div>
                            <div class="col-lg-9">
                                <div class="form-group">
                                    <label>Nội dung</label>
                                    <textarea class="form-control" style="width:100%;height: 50px;" name="content" rows="3"></textarea>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Mua hàng</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            }

        </div>
    </div>


    <div id="myModalbuy_@item.tblProdu.id_products_tra" class="modal fade" role="dialog">
        <div class="modal-dialog">
            @using (Html.BeginForm("Order", "Default"))
            {

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@item.tblProdu.name_products_tra</h4>
                        <input type="hidden" value='@item.tblProdu.name_products_tra.UrlFrendly()-@item.tblProdu.id_products_tra' name="idproo" />
                        <input type="hidden" value="@item.tblProdu.name_products_tra" name="nameproducto" />
                        <input type="hidden" value="@item.tblProdu.code_products_tra" name="codeproducto" />
                        <input type="hidden" value="@item.tblProdu.newprice_products_tra" name="priceo" />
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-3">
                                Mã sản phẩm: @item.tblProdu.code_products_tra<br />
                                Giá: <label class="showPrice__@item.tblProdu.id_products_tra"></label>
                                <script>
                                                $(function () {
                                                    $('.showPrice__@item.tblProdu.id_products_tra').text(tien(@item.tblProdu.newprice_products_tra));
                                                }) </script>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Họ và tên</label>
                                    <input class="form-control" name="nameo">
                                    @ViewData["error"]
                                </div>

                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Số điện thoại</label>
                                    <input class="form-control" name="phoneo">
                                </div>

                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" name="emailo">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                            </div>
                            <div class="col-lg-9">
                                <div class="form-group">
                                    <label>Nội dung</label>
                                    <textarea class="form-control" style="width:100%;height: 50px;" name="content" rows="3"></textarea>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Đặt hàng</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            }

        </div>
    </div>
}
