
@{
    ViewBag.Title = "ListProducts";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
@using PagedList
@using WebTraFashion.Models
@using System.Configuration
@model IEnumerable< ClassAll>

@{

    TrafashionEntities db = new TrafashionEntities();
    Random ran = new Random();

    var queryProductFeature = from data in db.tbl_products_tra
                              join datapic in db.tblSysPictures on data.id_products_tra equals datapic.advert_id
                              where data.status_products_tra == 1 && datapic.position == 1 && data.featured_products_tra==1
                              orderby data.id_products_tra descending
                              select new ClassAll { tblProdu = data, tblPicture = datapic };

    var dataProductFeature = queryProductFeature.OrderBy(x => Guid.NewGuid()).Take(5);

    var queryLatestProducts = from data in db.tbl_products_tra
                              join datapic in db.tblSysPictures on data.id_products_tra equals datapic.advert_id
                              where data.status_products_tra == 1 && datapic.position == 1
                              orderby data.id_products_tra descending
                              select new ClassAll { tblProdu = data, tblPicture = datapic };


    var dataLatestProducts = queryLatestProducts.OrderBy(x => Guid.NewGuid()).Take(5);

    }
@Html.Partial("Header")
<div class="container">

    @Html.Partial("Breadcrumb")
    <div class="row">


        @Html.Partial("ListProductsByID", Model.ToPagedList(1,1))


        <aside class="col-sm-3 " id="column-right">
            @*<div class="box account info">
                    <div class="box-heading">
                        <h3>Account</h3>
                    </div>
                    <div class="box-content">
                        <ul>
                            <li><a href="index.php?route=account/login">Login</a></li>
                            <li><a href="index.php?route=account/register">Register</a></li>
                            <li><a href="index.php?route=account/forgotten">Forgotten Password</a></li>
                            <li><a href="index.php?route=account/account">My Account</a></li>
                            <li><a href="index.php?route=account/address">Address Book</a></li>
                            <li><a href="index.php?route=account/wishlist">Wish List</a> </li>
                            <li><a href="index.php?route=account/order">Order History</a> </li>
                            <li><a href="index.php?route=account/download">Downloads</a></li>
                            <li><a href="index.php?route=account/reward">Reward Points</a></li>
                            <li><a href="index.php?route=account/return">Returns</a></li>
                            <li><a href="index.php?route=account/transaction">Transactions</a> </li>
                            <li><a href="index.php?route=account/newsletter">Newsletter</a></li>
                            <li><a href="index.php?route=account/recurring">Recurring payments</a></li>
                        </ul>
                    </div>
                </div>*@

            @Html.Partial("Featured", dataProductFeature.ToList())
            @Html.Partial("LatestProducts", dataLatestProducts.ToList())
           
           
        </aside>
    </div>
</div>
@Html.Partial("Footer")