@using WebTraFashion.Models
@using System.Configuration
@using PagedList.Mvc
@model PagedList.IPagedList<WebTraFashion.Models.tbl_blog_tra>

@{

    TrafashionEntities db = new TrafashionEntities();
    Random ran = new Random();

    var queryProductFeature = from data in db.tbl_products_tra
                              join datapic in db.tblSysPictures on data.id_products_tra equals datapic.advert_id
                              where data.status_products_tra == 1 && datapic.position == 1 && data.featured_products_tra == 1
                              orderby data.id_products_tra descending
                              select new ClassAll { tblProdu = data, tblPicture = datapic };

    var dataProductFeature = queryProductFeature.OrderBy(x => Guid.NewGuid()).Take(5);

    var queryLatestProducts = from data in db.tbl_products_tra
                              join datapic in db.tblSysPictures on data.id_products_tra equals datapic.advert_id
                              where data.status_products_tra == 1 && datapic.position == 1
                              orderby data.id_products_tra descending
                              select new ClassAll { tblProdu = data, tblPicture = datapic };


    var dataLatestProducts = queryLatestProducts.OrderBy(x => Guid.NewGuid()).Take(5);

}
<div id="loader">
    <div class="container">
        @Html.Partial("Breadcrumb")
        <div class="row">
            <aside id="column-left" class="col-sm-3">

                @Html.Partial("Featured", dataProductFeature.ToList())
                @Html.Partial("LatestProducts", dataLatestProducts.ToList())
            </aside>
            <div id="content" class="col-sm-9">
                <h1>Blog</h1>
                @foreach (var item in Model )
            {
                    <article class="blog_article">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <figure class="article-image">
                                    @if (item.img_blog_tra != null)
                                    {
                                        <img width="570" height="321" src="@ConfigurationManager.AppSettings["domain"]@item.img_blog_tra.Split('_')[0]/@item.img_blog_tra" alt="@item.titile_blog_tra"/>
                                    }
                                    else
                                    {
                                        <img src="/img/no-image-available.jpg" alt="@item.titile_blog_tra" />
                                    }

                                </figure>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <h2 class="article-title">
                                    <a href='@Url.Action("DetailBlog","Default",new {id=item.id_blog_tra})'>@item.titile_blog_tra</a>
                                </h2>
                                <div class="article-sub-title">
                                    <span class="article-date material-design-clock100">@item.create_date_blog_tra</span>
                                    <span class="article-comments material-design-add183"><a href="#">25 Bình luận</a></span>
                                    <span class="article-author material-design-user157"><a href="#">admin</a></span>
                                </div>
                                <div class="article-description">
                                    @item.short_des_blog_tra
                                </div>
                                <div>
                                    <a class="btn" href="@Url.Action("DetailBlog","Default",new {id=item.id_blog_tra})">
                                        Xem thêm
                                    </a>
                                </div>
                            </div>
                        </div>
                    </article>

                }

                <div class="row">
                    <div class="col-sm-12 col-xs-12 text-left">
                        <ul class="pagination">
                            @Html.PagedListPager(Model, page => Url.Action("Blog1", "Default", new { page}),PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { UpdateTargetId = "loader" }))
                         </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <style>
        .pagination > li:last-child > a, .pagination > li:last-child > span, .pagination > li:first-child > a, .pagination > li:first-child > span {
            border-radius: 50%;
        }
    </style>
</div>

