
@using PagedList
@using WebTraFashion.Models
@using PagedList.Mvc
@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using System.Configuration
@model PagedList.IPagedList<ClassAll>

<div id="loader">
    <div class="col-sm-9 right_aside" id="content">
        <h2 class="mod1">
            @foreach (var item in Model.Take(1))
            {
                if (item.tblProdu.type_products_tra==1)
                {
                    @("Ví")
                }
                if (item.tblProdu.type_products_tra == 2)
                {
                    @("Balo")
                }
                if (item.tblProdu.type_products_tra == 3)
                {
                    @("Vali")
                }
                if (item.tblProdu.type_products_tra == 4)
                {
                    @("Phụ kiện")
                }
                if (item.tblProdu.type_products_tra == 5)
                {
                    @("Sale")
                }
                if (item.tblProdu.type_products_tra == 6)
                {
                    @("Túi xách")
                }
            }
              
        </h2>
        <div class="separator1"></div>
        <div class="row">

            <div class="col-sm-12 cat_desc">
                <p>
                    <b>
                        Welcome to the world of fashion.
                    </b> We are proud to present you the largest choice of handbags on the web.
                    Here you can find a great number of different goods. Our store offers stylish, premium quality handbags at the lowest possible prices.
                </p>
                <p>
                    <b>
                        We have a perfect reputation and great experience
                    </b> in this sphere and that is why our products are so popular and
                    have many faithful fans all over the country.What we sell are not just simple handbags; the products of our shop are the
                   part of a style because nowadays handbag is the essential detail of the women’s wardrobe.We know how important it is for the
                   modern women to have several interesting and trendy bags.
                </p>
            </div>
        </div>


        <div class="product-filter clearfix cusproduct-filter">

        </div>
        <div class="row pages_info">
            <div class="col-sm-6 text-left">
                <ul class="pagination">
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("PartialDemo", "Default", new { page }),
                        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { UpdateTargetId = "loader" }))
                    </ul>
            </div>

        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="product-thumb transition options">


                        <div class="quick_info hidden-xs">
                            <div id="quickview_latest_@item.tblProdu.id_products_tra" class="quickview-style">
                                <div>
                                    <div class="left col-sm-4">
                                        <div class="quickview_image image">
                                            <a href="@Url.Action("Detail","Default",new { id=item.tblProdu.name_products_tra.UrlFrendly() + "-" + item.tblProdu.id_products_tra })">

                                                <img alt="@item.tblProdu.name_products_tra" title="@item.tblProdu.name_products_tra" class="img-responsive" src="@ConfigurationManager.AppSettings["domain"]@item.tblPicture.originalFilepath.ToString().Split('_')[0]/@item.tblPicture.originalFilepath" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="right col-sm-8">
                                        <h2>@item.tblProdu.name_products_tra</h2>
                                        <div class="inf">
                                            <p class="product_model model">Model: @item.tblProdu.code_products_tra</p>
                                            <span class="price-new">@item.tblProdu.newprice_products_tra</span>
                                            <span class="price-old">@item.tblProdu.oldprice_products_tra</span>
                                        </div>
                                        <div class="rating">
                                            <span class="fa-stack">
                                                <i class="material-icons-star   fa-stack-1x"></i>
                                                <i class="material-icons-star star  fa-stack-1x"></i>
                                            </span>
                                            <span class="fa-stack">
                                                <i class="material-icons-star   fa-stack-1x"></i>
                                                <i class="material-icons-star star  fa-stack-1x"></i>
                                            </span>
                                            <span class="fa-stack">
                                                <i class="material-icons-star   fa-stack-1x"></i>
                                                <i class="material-icons-star star  fa-stack-1x"></i>
                                            </span>
                                            <span class="fa-stack">
                                                <i class="material-icons-star   fa-stack-1x"></i>
                                                <i class="material-icons-star star  fa-stack-1x"></i>
                                            </span>
                                            <span class="fa-stack">
                                                <i class="material-icons-star   fa-stack-1x"></i>
                                                <i class="material-icons-star star  fa-stack-1x"></i>
                                            </span>
                                        </div>
                                        <button class="product-btn-add" data-toggle="tooltip" title="Mua hàng" type="button">
                                            <i class="mat-icons material-icons-shopping_basket"></i>
                                            <span>Mua hàng</span>
                                        </button>
                                        <ul class="product-buttons">
                                            <li>
                                                <button class="btn btn-icon" type="button" data-toggle="tooltip" title="Add to Wish List">
                                                    <i class="mat-icons material-icons-favorite_border"></i>
                                                    <span>Add to Wish List</span>
                                                </button>
                                            </li>
                                            <li>
                                                <button class="btn btn-icon" type="button" data-toggle="tooltip" title="Compare this Product">
                                                    <i class="mat-icons material-icons-sort"></i>
                                                    <span>Compare this Product</span>
                                                </button>
                                            </li>
                                        </ul>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="quickview_description description">
                                            <p style="white-space:pre-line;">
                                                @item.tblProdu.des_products_tra
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="new_pr"><span>New</span></div>

                        <div class="aside-block">
                            <div class="image">
                                <a class="quickview quickview-latest hidden-xs" data-rel="details" href="#quickview_latest_@item.tblProdu.id_products_tra">
                                    Xem nhanh
                                </a>
                                <a class="lazy" style="padding-bottom: 100%" href="@Url.Action("Detail","Default",new { id=item.tblProdu.name_products_tra.UrlFrendly() + "-" + item.tblProdu.id_products_tra })">

                                    <img alt="@item.tblProdu.name_products_tra" title="@item.tblProdu.name_products_tra" class="img-responsive" src="@ConfigurationManager.AppSettings["domain"]@item.tblPicture.originalFilepath.ToString().Split('_')[0]/@item.tblPicture.originalFilepath" />
                                </a>
                            </div>
                            <div class="caption">
                                <div class="name">
                                    <a href="@Url.Action("Detail","Default",new { id= item.tblProdu.name_products_tra + "-" + item.tblProdu.id_products_tra })">
                                        @item.tblProdu.name_products_tra
                                    </a>
                                </div>

                                <span class="price-new">@item.tblProdu.newprice_products_tra</span>
                                <span class="price-old">@item.tblProdu.oldprice_products_tra</span>
                            </div>
                            <div class="cart-button">
                                <div class="rating">
                                    <span class="fa-stack">
                                        <i class="material-icons-star   fa-stack-1x"></i>
                                        <i class="material-icons-star star  fa-stack-1x"></i>
                                    </span>
                                    <span class="fa-stack">
                                        <i class="material-icons-star   fa-stack-1x"></i>
                                        <i class="material-icons-star star  fa-stack-1x"></i>
                                    </span>
                                    <span class="fa-stack">
                                        <i class="material-icons-star   fa-stack-1x"></i>
                                        <i class="material-icons-star star  fa-stack-1x"></i>
                                    </span>
                                    <span class="fa-stack">
                                        <i class="material-icons-star   fa-stack-1x"></i>
                                        <i class="material-icons-star star  fa-stack-1x"></i>
                                    </span>
                                    <span class="fa-stack">
                                        <i class="material-icons-star   fa-stack-1x"></i>
                                        <i class="material-icons-star star  fa-stack-1x"></i>
                                    </span>
                                </div>
                                <div class="btns-block">
                                    <button class="product-btn-add" data-toggle="tooltip" title="Mua hàng" type="button">
                                        <i class="mat-icons material-icons-shopping_basket"></i>
                                        <span class="hidden-xs hidden-sm hidden-md">Mua hàng</span>
                                    </button>
                                    <button class="product-btn-add" data-toggle="tooltip" title="Mua hàng" type="button">
                                        <i class="mat-icons material-icons-shopping_basket"></i>
                                        <span class="hidden-xs hidden-sm hidden-md">Đặt hàng</span>
                                    </button>
                                    <button class="product-btn" type="button" data-toggle="tooltip" title="Add to Wish List">
                                        <i class="mat-icons material-icons-favorite_border"></i>
                                    </button>
                                    <button class="product-btn" type="button" data-toggle="tooltip" title="Compare this Product">
                                        <i class="mat-icons material-icons-sort"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>
            }



        </div>
        <div class="row pages_info mod1">
            <div class="col-sm-6 text-left">
                <ul class="pagination">
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("PartialDemo", "Default", new { page }),
                        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { UpdateTargetId = "loader" }))
                    </ul>
            </div>

        </div>
    </div>
</div>
