@model IEnumerable<WebTraFashion.Models.tbl_slide_tra>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.img_slide_tra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title_slide_tra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.des_slide_tra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status_slide_tra)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.img_slide_tra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title_slide_tra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.des_slide_tra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status_slide_tra)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_slide_tra }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_slide_tra }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_slide_tra })
        </td>
    </tr>
}

</table>
